* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-decoration: none;
    outline: none;
}

body {
    background: rgb(231, 231, 231);
}

nav {
    padding: 5px 0px;
    /* justify-content: center; */
    align-content: center;
    align-items: center;
    /* padding: 440px; */
    display: flex;
    width: 100%;
    margin-bottom: 3%;
    background-color: rgb(12, 54, 12);
}

.logo1 {
    margin-left: 10%;
    margin-top: 2%;
    padding: 5px;
    /* width: auto; */
    height: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}

.logo h3 {
    padding-top: 30px;
    color: rgb(255, 255, 255);
    display: flex;
    margin: 10px;
    font-size: 0.8rem;
}

main {
    justify-content: center;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.main_box {
    background-color: white;
    justify-self: center;
    margin: auto;
    width: 300px;
    height: 300px;
    padding: 20px 20px;
    /* margin-top: 2%; */
    justify-content: center;
    align-items: center;
    /* position:relative; */
    /* display: flex; */
}

.main h2 {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 30px;
}

.fa {
    background-color: rgb(12, 54, 12);
    padding: 5px;
    border-radius: 50px;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.login {
    text-align: center;
    justify-content: center;
}

.login h4 {
    font-size: 0.7rem;
    margin-bottom: 2%;
    font-weight: 550;
}

.forms {
    text-align: left;
    display: grid;
}

.forms input,
.username .password {
    height: 35px;
    margin-bottom: 10px;
    border: none;
    padding: 10px;
    /* border-radius: 5px; */
    background-color: rgb(231, 231, 231);
}

.forms input:placeholder-shown {
    font-size: 0.7rem;
}

.forms button {
    height: 35px;
    border: none;
    background-color: rgb(12, 54, 12);
    color: white;
    font-size: 0.8;
    font-weight: 520;
    margin-bottom: 5%;
}

.downpart {
    text-align: left;
    font-weight: 400;
    font-size: 0.6rem;
}

.downpart2 {
    display: flex;
}

.downpart2 h6 {
    font-size: 0.6rem;
    padding: 2px;
    font-weight: 400;
    margin-bottom: 6%;
}

.downpart2 a {
    font-size: 0.6rem;
    padding: 2px;
    font-weight: 400;
    margin-bottom: 6%;
}

.downpart a {
    color: red;
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: 1.5%;
}

.downpart h4 {
    text-align: center;
    font-weight: 500;
}